.walkTrackerCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.walkTrackerWrapper {
    width: 100%;
    max-width: 1200px;
}

.walkTrackerheader h3 {
    text-align: center;
    margin-bottom: 20px;
}

.walkTrackerMap {
    margin-bottom: 20px;
}

.uploadSection {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.saveLogButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.saveLogButton:hover {
    background-color: #45a049;
}
